/* Global Resets */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: "Ubuntu", Helvetica, "Segoe", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

body {
  color: #4A4A4A;
  background-color: #fff;
}

/* Links */
a {
  color: #268bd2;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: #268bd2;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #303030;
}

/* Text */
p {
  margin-top: 0
  margin-bottom: 1rem;
}

/* Code - TODO */

/* Site - TODO */

/* Container - Main content of a page */

.container {
  max-width: 38em;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Header - TODO */
.header {
  margin-top: 0.2rem;
}

.header a {
  color: #505050;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Posts */
.title a {
  color: #313131;
}

.date {
  margin-top: -0.25rem;
  color: #888888;
}

/* Footer - TODO */

