html {
  font-size: 100%;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

body {
  color: #444;
  line-height: 1.5;
  margin: auto;
  max-width: 800px;
  padding: 0 12px;

  display: flex;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}
header, footer {
  flex-shrink: 0;
}
footer {
  text-align: center;
  padding-bottom: 0.5em;
}

nav {
  margin: 0.7em auto;

  font-size: 2em;
  font-family: monospace;
  font-weight: bold;
}
nav a { /* Explicit to avoid :visited style */
  color: #2A5DB0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: monospace;
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}
a:link {
  color: #2A5DB0;
}

p code {
  font-size: 110%;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  line-height: 1.3;
  overflow-x: scroll;
  padding: 10px 15px;
}
p.caution {
  background-color: gold;
  border: 1px solid goldenrod;
  color: #333;
  font-size: 95%;
  font-style: italic;
  padding: 6px 10px;
}

.published {
  /* HACK: an "fix" for the line-height settings */
  margin-top: -1rem;
  color: #666
}

.post-date {
  font-family: monospace;
  font-weight: bold;
  padding-right: 10px;
  /* HACK: force baseline text alignment across the mixed fonts
        in the post-listing table */
  padding-top: 4px
}
